* {
  box-sizing: border-box;
  background-color: black;
  color: rgba(255, 245, 238, 0.9);
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 245, 238);
  height: 69px;
  align-items: center;
  width: 100%;
}

header img {
  height: 50px;
  margin: 10px;
}

nav {
  height: 100%;
  /* color: rgba(255, 245, 238, 0.9); */
  border: 2px solid green;
  align-items: center;
  max-width: 50%;
}
nav ul {
  margin: 0;
  display: flex;
  padding-right: 5px;
  width: 500px;
  align-items: center;
  border: 2px solid purple;
  height: 100%;

}

nav ul li {
  padding-right: 50px;
  border: 2px solid yellow;
}
