* {
  box-sizing: border-box;
  background-color: black;
  color: rgba(255, 245, 238, 0.9);
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 245, 238);
  height: 69px;
  align-items: center;
  width: 100%;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  height: 100%;
  align-items: center;
  max-width: 50%;
}
nav ul {
  margin: 0;
  display: flex;
  padding-left: 0;
  width: 400px;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;

}

nav ul li {
  list-style-type: none;
}

#mission {
  width: 90%;
  height: 700px;
  background: url(../images/img-mission-background.jpg) no-repeat center center;
  /* background-repeat: no-repeat; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay-box {
  width: 1200px;
  padding: 10px 0;
}
.overlay-box h2 {
  margin-bottom: 10px;
}

