* {
  box-sizing: border-box;
  background-color: black;
  color: rgba(255, 245, 238, 0.9);
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 245, 238);
  height: 69px;
  align-items: center;
  width: 100%;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  height: 100%;
  align-items: center;
  max-width: 50%;
}
nav ul {
  margin: 0;
  display: flex;
  padding-left: 0;
  width: 400px;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;

}

nav ul li {
  list-style-type: none;
}

h2 {
  margin-bottom: 10px;
}

#mission {
  width: 90%;
  height: 700px;
  background: url(../images/img-mission-background.jpg) no-repeat center center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay-box {
  width: 1200px;
  padding: 10px 0;
}

#featured-tea {
  margin-top: 40px;
  max-width: 1000px;
}

.media-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.media-boxes img {
  width: 300px;
  height: 200px;
}

figure {
  margin: 10px;
}

figcaption {
  margin-top: 10px;
}

