* {
  box-sizing: border-box;
  background-color: black;
}

body {
  font-family: Helvetica, sans-serif;
  color: rgba(255, 245, 238, 0.9);
  text-align: center;
}

nav {
  border-bottom: 1px solid rgba(255, 245, 238);
  height: 69px;
  display: inline-block;
}

nav img {
  height: 50px;
  margin: 10px;
}

nav ul {
  display: flex;
  
}

nav a {
  color: rgba(255, 245, 238, 0.9);


}